<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Yaku">
	<meta http-equiv="Permissions-Policy" content="interest-cohort=(), user-id=()">
	<title>Genshin Randomizer</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" data-bs-theme="{{colorTheme}}" ng-cloak>
	<header class="container-fluid p-2 sticky-top"
	ng-class="{'text-bg-primary': colorTheme == 'light', 'text-bg-secondary': colorTheme == 'dark'}">
		<div class="d-flex justify-content-between">
			<h1 class="m-1">Genshin Randomizer</h1>
			<button class="btn m-1" ng-click="switchTheme()"
			ng-class="{'btn-dark': colorTheme == 'light', 'btn-primary': colorTheme == 'dark'}">Switch Theme</button>
		</div>
	</header>
	<main class="container p-3">
		<section id="randomizer" class="row">
			<div class="col">
				<h3 class="pb-4">Random Character</h3>
				<button class="btn btn-lg mb-2" ng-click="displayChar()"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Roll</button>
				<button class="btn btn-sm mb-2" ng-show="showChar" ng-click="showChar = false;"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Hide</button><br>
				<div id="single-character" ng-show="showChar"
				ng-class="{'traveler': rndChar.element == 'traveler', 'geo': rndChar.element == 'geo', 
				'anemo': rndChar.element == 'anemo', 'cryo': rndChar.element == 'cryo',
				'electro': rndChar.element == 'electro', 'dendro': rndChar.element == 'dendro',
				'hydro': rndChar.element == 'hydro', 'pyro': rndChar.element == 'pyro'}"
				class="character-holder border border-dark p-1">
					<img ng-src="{{rndChar.selectedImage}}" alt="{{rndChar.name}}" tooltip="{{rndChar.name}}">
				</div>
				<p not-enough-characters1 class="alert alert-info mt-2" ng-show="lessThan1"></p>
			</div>
			<div class="col">
				<h3 class="pb-4">Random Team</h3>
				<button class="btn btn-lg mb-2" ng-click="displayTeam()"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Roll</button>
				<button class="btn btn-sm mb-2" ng-show="showTeam" ng-click="showTeam = false;"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Hide</button><br>
				<div ng-show="showTeam" ng-repeat="char in rndTeam"
				ng-class="{'traveler': char.element == 'traveler', 'geo': char.element == 'geo', 
				'anemo': char.element == 'anemo', 'cryo': char.element == 'cryo',
				'electro': char.element == 'electro', 'dendro': char.element == 'dendro',
				'hydro': char.element == 'hydro', 'pyro': char.element == 'pyro'}"
				class="character-holder border border-dark p-1">
					<img ng-src="{{char.selectedImage}}" alt="{{char.name}}" tooltip="{{char.name}}">
				</div>
				<p not-enough-characters4 class="alert alert-info mt-2" ng-show="lessThan4"></p>
			</div>
			<div class="col">
				<h3 class="pb-4">Two Random Teams</h3>
				<button class="btn btn-lg mb-2" ng-click="displayTwoTeams()"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Roll</button>
				<button class="btn btn-sm mb-2" ng-show="showTwoTeams" ng-click="showTwoTeams = false;"
				ng-class="{'btn-outline-dark': colorTheme == 'light', 'btn-outline-light': colorTheme == 'dark'}">Hide</button><br>
				<div ng-show="showTwoTeams">
					Team 1:<br>
					<div ng-repeat="char in rndTwoTeams[0]"
					ng-class="{'traveler': char.element == 'traveler', 'geo': char.element == 'geo', 
					'anemo': char.element == 'anemo', 'cryo': char.element == 'cryo',
					'electro': char.element == 'electro', 'dendro': char.element == 'dendro',
					'hydro': char.element == 'hydro', 'pyro': char.element == 'pyro'}"
					class="character-holder border border-dark p-1">
						<img ng-src="{{char.selectedImage}}" alt="{{char.name}}" tooltip="{{char.name}}"><br>
					</div>
					<br>
					Team 2:<br>
					<div ng-repeat="char in rndTwoTeams[1]"
					ng-class="{'traveler': char.element == 'traveler', 'geo': char.element == 'geo', 
					'anemo': char.element == 'anemo', 'cryo': char.element == 'cryo',
					'electro': char.element == 'electro', 'dendro': char.element == 'dendro',
					'hydro': char.element == 'hydro', 'pyro': char.element == 'pyro'}"
					class="character-holder border border-dark p-1">
						<img ng-src="{{char.selectedImage}}" alt="{{char.name}}" tooltip="{{char.name}}">
					</div>
				</div>
				<p not-enough-characters8 class="alert alert-info mt-2" ng-show="lessThan8"></p>
			</div>
		</section>
		<br>
		<div class="row">
			<section id="settings" class="col-sm-2">
				<h4>Search</h4>
				<form class="form-floating">
					<input type="text" class="form-control" id="phrase" placeholder="Name or tag" ng-model="searchPhrase">
					<label for="phrase">Name or tag</label>
				</form>
				<hr>
				<h4 class="pt-4 pb-4">Settings</h4>
				<button class="btn btn-outline-secondary btn-sm mb-2" ng-click="selectAll()">Select All</button>
				<button class="btn btn-outline-secondary btn-sm mb-2" ng-click="deselectAll()">Deselect All</button>
				<button class="btn btn-outline-secondary btn-sm mb-2" ng-click="switchTraveler()">Switch Traveler</button>
				<hr>
			</section>
			<section id="character-list" class="d-flex flex-wrap justify-content-center col-sm-10">
				<div ng-repeat="char in characters | filter:searchPhrase" id="{{char.name.toLowerCase()}}" ng-click="toggleInclude(char)"
					ng-class="{'non-selected': !char.include, 'traveler': char.element == 'traveler',
					'geo': char.element == 'geo', 'anemo': char.element == 'anemo', 'cryo': char.element == 'cryo',
					'electro': char.element == 'electro', 'dendro': char.element == 'dendro',
					'hydro': char.element == 'hydro', 'pyro': char.element == 'pyro'}"
					class="character-holder border border-dark p-1">
					<img ng-src="{{char.selectedImage}}" alt="{{char.name}}" tooltip="{{char.name}}">
				</div>
				<!--<p selected-character-count></p>
				<p selected-characters></p>-->
			</section>
		</div>
	</main>
	<footer class="container-fluid p-2"
	ng-class="{'text-bg-primary': colorTheme == 'light', 'text-bg-secondary': colorTheme == 'dark'}">
		<span disclaimer></span>
		<p class="mb-1 text-end">Author: Yaku</p>
		<p class="mb-1 text-end">Contact: Discord@yakuya_</p>
	</footer>
</body>
</html>