/*body {
  font-family: Georgia, Verdana;
  color: #bfbfbf;
  margin: 0px;
  background-color: #262626;
}*/

img {
  width: 4.6875rem;
  height: 4.6875rem;
}

.form-floating label {
  width: 100%;
}

.character-holder {
  display: inline-block;
}

.non-selected {
  filter: opacity(30%);
}

.geo { background-color: rgb(231, 190, 86); }

.anemo {  background-color: rgb(130, 230, 198); }

.cryo { background-color: rgb(160, 215, 228); }

.electro { background-color: rgb(176, 143, 194); }

.dendro { background-color: rgb(166, 201, 56); }

.hydro { background-color: rgb(51, 204, 255); }

.pyro { background-color: rgb(239, 122, 53); }

.traveler { background-color: rgb(133, 148, 156); }